@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}
  body{
      /* overflow-x: hidden; */
      background: linear-gradient(60deg, white, #F4ACC4);
      font-family: Roboto, Helvetica, Arial, sans-serif;
    }
    footer{
      text-align:start;
      padding-left: 20px;
      background:rgb(76, 72, 72);
      color: white;
    }
    .footer-link{
      text-align: left;
      display: inline-block;
      font-size: 14px;
      text-decoration: none;
      color:white;
      padding-bottom: 20px;
      margin-top: 25px;
    }
.navbar {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 18px;
  border: none;
  padding-bottom: 10px;
  color: black;
}
.main-nav {
  list-style-type: none;
  display: none;
}
.nav-links{
  text-decoration: none;
  color: black;
  margin: 3px 3px 0px 0px;
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
#chkToggle {
  display: none;
}
#chkToggle:checked + ul.main-nav {
  display: block;
}
#current{
  text-decoration: underline;
  text-decoration-color: #FF0080;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
}
.nav-links:hover{
  text-decoration: underline;
  text-decoration-color: #FF0080;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  #chkToggle:checked + ul.main-nav {
    display: flex;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
    color:black;
  }
  .navbar-toggle {
    display: none;
    color: black;
  }

}
.titles{
    text-align: center;

}
.logo{
    font-family: 'Satisfy', cursive;
    font-size: 32px;
   color: #Ff84ac;
   margin: 10px 0 0 20px;
   font-weight: bold;
}
.titles li{
    padding: 7px 7px 7px 7px;
    display: inline-block;
    border: 3px solid black;
    border-radius:20px;
    margin:5px 5px 20px 5px;
    cursor: pointer;
}

.selected{
    background-color:#FF0080;
}

.diet-image{
    display: block;
    width: 30vw;
    margin: 10px auto 10px auto;
    max-height: 40vh;
}

 .content{
  border: 3px solid black;
  height: 4rem;
  margin: 10px;
  width: fit-content;
  padding-top: 1rem;
  padding-left: 7px;
  padding-right: 7px;
  display: grid;
}
.diet-content a{
    text-decoration:none;
}
.diet-content{
    display: none;
    }