@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

/* DEFAULTS */
/* ================================================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* color: white; */
}
html{
  scroll-behavior:smooth;
}
body {
  display: grid;
  place-content: center;
  min-height:70vh;
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  margin: 0;
  
}



/*NAVBAR*/
.navbar {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 18px;
  border: none;
  padding-bottom: 10px;
  background-color: #1E233C;
  margin-top: -10px;
}
.main-nav {
  list-style-type: none;
  display: none;
}
.nav-links
{
  text-decoration: none;
  color: white;
  margin: 3px 3px 0px 0px;
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}
.navbar-toggle {
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
  color:white;
  font-size: 24px;
}
#chkToggle {
  display: none;
}
#chkToggle:checked + ul.main-nav {
  display: block;
}
#current{
  text-decoration: underline;
  text-decoration-color: #FF0080;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
}
.nav-links:hover{
  text-decoration: underline;
  text-decoration-color: #FF0080;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  #chkToggle:checked + ul.main-nav {
    display: flex;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
    color:white;
  }
  .navbar-toggle {
    display: none;
    color: white;
  }

}
.logo{
    font-family: 'Satisfy', cursive;
    font-size: 32px;
   color: #Ff84ac;
   margin: 10px 0 0 20px;
   font-weight: bold;
}

/* CARDS */
/* ================================================================================= */
.cards { 
  display: flex;
  align-items: center;
  padding: 40px;
  overflow-x: scroll;
  min-height: 70vh;
}

.text{
    text-align: center;
    margin-top: 10px;
    font-size: 28px;
    text-decoration: solid;
    font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
.card {
  min-width: 300px;
  max-width: 400px;
  height: 250px;
  margin-left: -20px;
  border-radius: 40px;
  padding: 30px;
    display: inline-block;
  box-shadow: -4px 4px 26px 2px hsla(184, 50%, 20%, .1);
    margin-bottom: 5px;
  transition: all .3s;
  position: relative;
  background-color:#FFD3E1;

}
.card:first-child {
  margin-left: 0;
}

.card:hover,
.card:focus-within {
  transform: translateY(-20px)
}

.card:hover+.card,
.card:focus-within+.card {
  transform: translateX(100px);
}

.card-info {
  margin-bottom: 14px;
}

.card-info>span:first-child {
  margin-right: 6px;
}

.card-grad--video {
  color:  hsl(159, 96%, 50%);

}

.card-grad--shot {
  color: hsl(201, 96%, 50%);
 
}

.card-info>span:last-child {
  color: hsl(0, 0%, 70%);
}

.card-heading {
  font-size: 1em;
}

.card-heading a:link {
  color: hsl(30, 50%, 40%);
  font-weight: bold;
  text-decoration: none;
}

.card-tags {
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 30px;
}

.card-tag {
  color: hsl(0, 0%, 60%);
  padding: 5px 12px;
  border: 2px solid hsl(30, 40%, 70%);
  border-radius: 100px;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: .9em;
}

/* ABS */
/* ================================================================================= */
.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', sans-serif;
}

.img{
  margin: 0 auto 0 auto;
}
img{
    width: 20vw;
    min-width: 300px;
   margin: 20px auto 0px auto;
}

.btns{
  margin:0 auto 0 auto;
  /* display:flex; */
}
.btn a{
  text-decoration: none;
   color: black;
}
.btn{
  height: 4em;
  margin: 5px ;
  background-color: #FF0080;
  padding:5px;
  width:120px;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  cursor: pointer;
}
.btn:hover{
  background-color: #ff44ac;
}

/*Sticky button*/
#topbtn{
  position: fixed;
  bottom:5px;
  z-index: 2000;
  right: 10px;
}


footer{
  background-color: #1E233C;
  height:80px;
  text-align: center;
  color: white;
    padding-top: 20px;
    margin-bottom: -10px;


}
footer a{
  color: white;
}