    @import url('https://fonts.googleapis.com/css2?family=Satisfy&family=ZCOOL+QingKe+HuangYou&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
  body{
      overflow-x: hidden;
      font-family: Roboto, Helvetica, Arial, sans-serif;
    }
.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
    box-shadow: 5px inset ;
	background-color: #1E233C;
	color: white;
    border-radius: 30px;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
    margin-top:5px;
    margin-left: 120px;
}

.buttonDownload:hover {
	background-color: #333;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
}

.buttonDownload:hover:before {
	border-color:blue;
}

.buttonDownload:hover:after {
	border-top-color:blue;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 1;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 1;
	}
}
.text-content {
    position: relative;
    display:flex;
    top: 20vh;
    width:100vw;
    align-items: center;
    justify-content:space-evenly;
    margin-bottom: 200px;
    
}

.left{
    width: 40vw;
}
.auto-slider{
    bottom: 180px; 
    box-sizing: border-box;
    padding: 10px 10px 20px;
    background: #fff;
    /* max-width: 720px; */
    /* margin: 0 20vw; */
    overflow: hidden;
    width: 40vw;
}
@media only screen and (max-width: 600px) {
 .text-content{
     display:flex;
     flex-direction: column;
 }
 .buttonDownload{
     height: 35px;
     margin: 5px auto 0 auto;
 }
 .auto-slider{
     width: 90vw;
 }
}
.logo{
    font-family: 'Satisfy', cursive;
    font-size: 32px;
   color: #Ff84ac;
   margin: 10px 0 0 20px;
   font-weight: bold;
}
@keyframes sliding{
            0%{left: 0%; }
            33%{left: -100%;}
            66%{left: -200%;}
            100%{left: 0%;}
        }        
        
@keyframes indicating{
            from{
                left: -100%;
            }
            to{
                left: 0;
            }
}  
        
        
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 21s sliding ease infinite; 
}

/* Slider indicator */
/* .indicator{
    width: 100%;
    max-width: 720px;
    height: 6px;
    background: pink;
    position: absolute;
    bottom: 0;
    animation: indicating 7s ease infinite; 
    
} */

/*navbar*/
.navbar {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 18px;
  border: none;
  padding-bottom: 10px;
  background-color: #1E233C;
  margin-top: -10px;
}
.main-nav {
  list-style-type: none;
  display: none;
}
.nav-links
{
  text-decoration: none;
  color: white;
  margin: 3px 3px 0px 0px;
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}
.navbar-toggle {
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
  color:black;
  font-size: 24px;
}
#chkToggle {
  display: none;
}
#chkToggle:checked + ul.main-nav {
  display: block;
}
#current{
  text-decoration: underline;
  text-decoration-color: #FF0080;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
}
.nav-links:hover{
  text-decoration: underline;
  text-decoration-color: #FF0080;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  #chkToggle:checked + ul.main-nav {
    display: flex;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
    color:white;
  }
  .navbar-toggle {
    display: none;
    color: white;
  }

}
.doodle-box{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    margin-bottom: 30px;
}
.doodle-box .box img{
    width:30vw;
    /* border: 2px solid black; */
    margin-top: 7px;
    margin-bottom: 7px;
}
.doodle-box .box{
    width:40vw;
}
.doodle-box .box p{
    margin-bottom:7px;
    font-weight: bold;
}

.text{
     display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}
 .list{
    display:flex;
    /* flex-direction:row; */
    justify-content:space-evenly;
    align-items:flex-start;
    flex-wrap: wrap;
}
.text button{
    background-color: #FF0080;
    height: 3em;
    padding: 2px 5px 2px 5px;
    border-radius: 20px;
    border:1px black solid;
    box-shadow: 2px;
    cursor:pointer;
    font-weight: bold;
    margin-top:10px;
    margin-bottom:10px;
    
}
.text button:hover{
    background-color: #FF44ac;
}
button a{
    text-decoration:none;
    color: black;
}
@media only screen and (max-width: 720px){
    .doodle-box{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content:space-around;
    }
    .doodle-box .box img{
        width: 50vw;
    }
    .doodle-box .box{
        width:50vw;
    }
}

footer{
  background-color: #1E233C;
  height:80px;
  text-align: center;
  color: white;
    padding-top: 30px;

}
footer a{
  color: white;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

}