 @import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.navbar {
  font-size: 18px;
  border: none;
  padding-bottom: 10px;
  color: white;
  background-color: #1E233C;
  margin-top :-11px;
}
#current{
  text-decoration: underline;
  text-decoration-color: #FF0080;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
}
.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links
{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  text-decoration: none;
  color: white;
  margin: 3px 3px 0px 0px;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}



.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

.nav-links:hover{
  text-decoration: underline;
  text-decoration-color: #FF0080;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
}

.logo{
    font-family: 'Satisfy', cursive;
    font-size: 32px;
   color: #Ff84ac;
   margin: 10px 0 0 20px;
   font-weight: bold;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
    margin-top: -11px;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
    color:white;
  }

  .logo{
    font-family: 'Satisfy', cursive;
    font-size: 32px;
   color: #Ff84ac;
   margin: 10px 0 0 20px;
   font-weight: bold;
}

  .navbar-toggle {
    display: none;
    color: black;
  }

}
/*done till here*/
section {
  display: flex;
}
h1,p {
      text-align: center;
    }
    .grid-wrapper {
      --auto-grid-min-size:12rem;
      display: grid;
      grid-gap: 8rem;
      grid-template-columns: repeat(
        auto-fill,
        minmax(var(--auto-grid-min-size), 1fr)
      );
      margin: 0 auto 0 auto;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
    }
    .grid-wrapper li {
      transition: box-shadow ease-in 100ms;
      background-color: white;
      color: black;
      font-size: 24px;
      list-style-type: none;
      padding: 5rem 1rem;
      text-align: center;
      text-transform: capitalize;
      font-weight: 600;
      width: 25vw;
      height: 300px;
      border: 3px solid black;
      margin: 0 auto 0 auto;
      background: #D4F4F6;
      border-radius: 20px;

    }
    .grid-wrapper li:hover {
      box-shadow: 3px 5px 3px 5px grey;
    }
    .main-container {
      margin: 0 10vw 0 5vw;
      width: 60vw;
      max-width: 1170px;
      padding: 2rem 1rem;
    }

    .cta {
      background-color: white;
      border: 1px solid lightgrey;
      border-radius: 6px;
      color: black;
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.5rem;
      font-weight: 700;
      padding: 0.3em 1em;
      text-decoration: none;
      position: relative;
      bottom: -50px;
    }
    .cta:hover {
      background-color: lightgrey;
      color: slategrey;
      text-decoration: none;
    }

    .modaloverlay {
      background: rgba(0, 0, 0, 0.8);
      bottom: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: fixed;
      right: 0;
      top: 0;
      -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;
      z-index: -1;
      display: none;
    }
    .modaloverlay:target {
      display: block;
      opacity: 1;
      pointer-events: auto;
      z-index: 99999;
    }
    .modaloverlay .modal {
      background-color: white;
      height: 100%;
      position: relative;
      margin: 0 auto;
      padding: 3em;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
    @media (min-width: 60em) {
      .modaloverlay .modal {
        height: 75%;
        margin: 5% auto;
        max-height: 57em;
        max-width: 66em;
        width: 85%;
      }
    }
    .modaloverlay .modal > iframe,
    .modaloverlay .modal > div {
      border: none;
      width: 100%;
      height: 100%;
    }
    .modaloverlay .close {
      background-color: turquoise;
      color: white;
      font-size: 24px;
      padding: 8px 12px;
      position: absolute;
      right: 0;
      text-align: center;
      text-decoration: none;
      top: 0;
      z-index: 1;
    }

/*form stylesheet*/

    form{
      display: flex;
      flex-direction:column;
      align-items: center;
      text-align: center;
      box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      margin-right: 20px;
      margin-top: 5px;
      height:70vh;
    }
.form{
  position:fixed;
  right: 20px;
   width: 30vw;
   min-width: 300px;
}
    .formElement{
      width: 100%;
      margin: 6px 5px 6px 5px;
      height:3rem;
      border: 2px solid black;
      border-radius:20px;
      font-size: 16px;
      padding-top:1rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    input::placeholder{
      text-align: center;
      font-weight: bold;
    }
    h2{
      border:2px solid white;
    }
    textarea{
      overflow-y: scroll;
      width: 100%;
      min-height: 19em;
    }
    textarea::placeholder{
      text-align: center;
      font-weight: bold;
    }
    button{
      background: linear-gradient(45deg,white, #F4ACC4);
      border-radius: 20px;
      width:6rem;
      border: 2px solid black;
      height: 3rem;
      font-size:18px;
      cursor: pointer;
    }
    button:hover {
      box-shadow: 3px 5px 3px 5px grey;
      background: #Ff84ac;

    }


    @media (max-width: 800px){
      .grid-wrapper li{
        font-size:17px;
        width: 70vw;   
       transform: translateY(100vh);
       margin:5px auto;
      }
      .cta{
        font-size: 9px;
        color: blue;
      }
      .form{
        display: block;
        position:relative;
        left: -14em;
      }
    }


    .story{
      margin-bottom: 7px;
    }
    .author{
      font-size:18px;
font-family: 'ZCOOL QingKe HuangYou', cursive;
    }


  footer{
  background-color: #1E233C;
  height:80px;
  text-align: center;
  color: white;
    padding-top: 30px;
    margin-bottom: 0px;

}
footer a{
  color: white;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}